<{layout name='index/pub'}>

	<div class="right_side">
		<h3 style="margin-top:20px;margin-left:40px;">栏目更改</h3>
		<form action="<{:url('index/do_nav_update')}>" method="POST" enctype="multipart/form-data" style="margin:50px 300px;">
			栏目标题：<input type="text" name="title" value="<{$result['title']}>" style="margin-bottom:20px;width:300px;height:30px;"><br>
			URL：<input type="text" name="url" value="<{$result['url']}>" style="margin-bottom:20px;width:300px;height:30px;"><br>
			栏目简介：<br><br><textarea name="intro" id="" cols="40" rows="10" style="width:400px;margin-bottom:20px;"><{$result['intro']}> </textarea><br>
			banner图：<input type="file" name="banner"  style="margin-bottom:20px;"><br>
			<input type="hidden" name='id' value="<{$result['id']}>">
			<input type="submit" value="确认修改" style="width:100px;height:30px;">
		</form>
	</div>