<{extend name='index/public' /}>

<{block name='main' /}> 

<h3>修改密码&gt;</h3>


	<form action="<{:url('home/password')}>" method='POST' class='form_pass'>
		<span>输入新密码</span>：<input type="password" class='inp' id='pass1' name='password' placeholder='6-15的字母数字或下划线组成'><i class='i1'></i><br>
		<span>再&nbsp;次&nbsp;输&nbsp;入</span>：<input type="password" id='pass2' class='inp' name='repassword'><i class='i2'></i><br>
		<input type="hidden" name='id' value='<{$id}>'>
		<input type="submit" value='确定' class='btn'>
	</form>




<{/block}>

