<{extend name='index/public' /}>

<{block name='main' /}> 

<h3>个人信息&gt;</h3>


	<ul class='person'>
		<li><span class='span1'>用户名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['username']}></span><span class='span2'>姓名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['name']}></span><span class='span3'>性别：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['sex']}></span></li>
		<li><span class='span1'>生日：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['birth']}></span><span class='span2'>年龄：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['age']}></span><span class='span3'>学历：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['education']}></span></li>
		<li><span class='span1'>毕业院校：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['school']}></span><span class='span2'>部门：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['department']}></span><span class='span3'>职位：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['position']}></span></li>
		<li><span class='span1'>电话：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['tel']}></span><span class='span2'>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<{$u['email']}></span><span class='span3'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>



	</ul>
</div>




<{/block}>
