<!-- footer底部 -->
	<div class="footer">
		<div class="inner clearfix">
				<ul class="fl clearfix">
					<li><a href="">关于金岭</a>
						<ol>
							<li><a href="">公司概况</a></li>
							<li><a href="">领导致辞</a></li>
							<li><a href="">领导关怀</a></li>
							<li><a href="">企业荣誉</a></li>
							<li><a href="">企业资质</a></li>
							<li><a href="">下属公司</a></li>
						</ol>
					</li>
					<li><a href="">新闻中心</a>
						<ol>
							<li><a href="">新闻集团</a></li>
							<li><a href="">通知公告</a></li>
						</ol>
					</li>
					<li><a href="">主营产品</a>
						<ol>
							<li><a href="">烧碱系列</a></li>
							<li><a href="">甲烷氯化物系列</a></li>
							<li><a href="">苯胺系列</a></li>
							<li><a href="">环氧丙烷系列</a></li>
							<li><a href="">有机硅系列</a></li>
						</ol>
					</li>
					<li><a href="">企业文化</a>
						<ol>
							<li><a href="">金岭观念</a></li>
						</ol>
					</li>
					<li><a href="">社会责任</a>
						<ol>
							<li><a href="">安全生产</a></li>
							<li><a href="">环境保护</a></li>
							<li><a href="">公益事业</a></li>
						</ol>
					</li>
					<li><a href="">人力资源</a>
						<ol>
							<li><a href="">用人观念</a></li>
							<li><a href="">招聘信息</a></li>
						</ol>
					</li>
					<li><a href="">服务我们</a>
						<ol>
							<li><a href="">联系我们</a></li>
						</ol>
					</li>
				</ul>
			<div class="fr">
				<ul>
					
					<li>地 址：山东省东营市广饶县傅家路588号金岭国际</li>
					<li>电 话：0546-6882976 6881882 </li>
					<li>传 真：0546-6881882 </li>
					<li>网 址：www.shandongjinling.cn</li>
					<li>版权所有：山东金岭集团有限公司</li>
					<li>鲁ICP备05037835号 </li>
					<li><a href="">技术支持：某技术达人</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>